.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: fantasy;
  
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navigation{
  background-image: url(./images/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  color: white;
  justify-content: center;
  width: 100%;
  height: 71vh;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.App-footer{
    background-color: #282c34;
    min-height: 1vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 2%;
}


.infoTable{
  background-color: #64a05f;
  border: 2px solid black;
  /* border-color: black;
  border-width: 2px;
  border-style: solid; */
  border-collapse: collapse;
}

.infoTable th,
.infoTable td {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


.infoCards{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  color: white;
  padding: 10px;
  background-color: #282c34;
  margin: 10px;
  overflow: auto;
  border-radius: 20px;
  text-align: left;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.read-more{
  float: right;

}

.like-button{
  
}

.buttons-container{
  display: flex;
  display: inline;
  
}

.comments-Box{
   width: 50px;

}

.commentsArea{
  width: 250px;
  height: 50px;
}

.submit{
margin: 10px;
}


